<div class="card mt-3" *ngIf="user">
  <div class="card-header">
    <h4 class="card-title mb-0">{{user.name}}</h4>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-xs-4 col-md-2">
        <img class="card-img w-100 mb-2" [src]="user.avatar_url" [alt]="user.name">
        <a href="{{user.html_url}}" class="btn btn-secondary btn-block" target="_blank">Go to Profile</a>
      </div>
      <div class="col-xs-8 col-md-10">
        <div class="stats">
          <span class="badge badge-default">{{user.public_repos}} Public Repos</span>
          <span class="badge badge-primary">{{user.public_gists}} Gists Repos</span>
          <span class="badge badge-success">{{user.followers}} Followers</span>
          <span class="badge badge-info">{{user.following}} Following</span>
        </div>
        <ul>

        </ul>
      </div>
    </div>
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
  </div>
  <!--<ul class="list-group list-group-flush">-->
    <!--<li class="list-group-item">Cras justo odio</li>-->
    <!--<li class="list-group-item">Dapibus ac facilisis in</li>-->
    <!--<li class="list-group-item">Vestibulum at eros</li>-->
  <!--</ul>-->
  <div class="card-block">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>